<div class="bg-image-enhance">
  <p class="text-5xl text-white text-center pt-20">Lay’s Festival</p>
  <div class="flex flex-col justify-evenly mt-12">
    <div class="text-4xl p-4 rounded-xl bg-white text-center relative mt-[10%] w-5/6 mx-auto">
      <span>
        {{questionView?.question}}
      </span>
    </div>

    <div class="w-2/3 mx-auto mt-[10%]">
      <ng-container *ngFor="let item of questionView?.answers">
        <button class="w-full text-center text-2xl p-4 rounded-xl bg-white mt-4" (click)="showAnswer(item)"
          [ngClass]="{'text-white !bg-[#008000]':isClicked && item?.id==correctAnswer?.id,'!bg-[#F00] text-white':isClicked && item?.id!=correctAnswer?.id && item?.id==failQuestion.id }">
          {{item?.text}}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="fixed bottom-10 right-10 w-[80px]">
    <div class="text-[#E52529] text-4xl border-2 text-center rounded-xl py-1">
      <p class="text-xl text-white">timer</p>
      {{ timer }}
    </div>
  </div>
</div>
